<div ng-if="infoCtrl.isregistered()">
firstname: {{infoCtrl.user.firstname}}<br>
lastname: {{infoCtrl.user.lastname}}<br>
email: {{infoCtrl.user.email}}<br>
phone: {{infoCtrl.user.phone}}<br>

menuitem: {{infoCtrl.user.menuNumber}}<img class="img-responsive" width="250" height="100" ng-src="{{infoCtrl.basePath}}/images/{{infoCtrl.user.menuItem.short_name}}.jpg">
<div>
<h3 >{{infoCtrl.user.menuItem.name}}</h3>
<p>{{infoCtrl.user.menuItem.description}}</p>
</div>
</div>

<div ng-if="!infoCtrl.isregistered()">
  <a ui-sref="public.signup">
     Sign Up</a>

</div>
